<p>body works!</p>
<section class="text-center" id="middle">
    <div class="col-lg-6 mt-3" id="photo">photo</div>
    <div class="col-lg-6 mt-3" id="ingrédients">ingrédient</div>
</section>

<section>
    <div  id="allergene">allergenes</div>
</section>

<div class="row">
    <section class="d-flex text-center justify-content-between p-5" id="divers">
        <div class="col-lg-3" id="nova">nova</div>
        <div class="col-lg-3" id="nutriscore">nutriscore</div>
        <div class="col-lg-3" id="huile-de-palme">huile de palme</div>
    </section>
</div>


<section>
    <div class="info text-center pt-3 " id="information">infos</div>
</section>
