<p>footer works!</p>
<footer>
    <div>
    <ul>
    <li>
        <a href="/mentions-legale">Mentions légales</a>
    </li>
    <li>
        <a href="/conditions-d-utilisation">conditions d'utilisation</a>
    </li>
    <li>
        <a href="/data">Données, API et SDK</a>
    </li>
    <li>
        <a href="/https://fr.arretelesburgers.org/faire-un-don-a-arrete-les-burgers">Faire un don à l'association Arrête Les Burgers</a>
    </li>
    <li>
        <a href="/https://fr.pro.arretelesburgers.org/">Producteurs</a>
    </li>
    <li>
        <a href="/https://link.pro.arretelesburgers.org/newsletter-fr">S'abonner à notre newsletter</a>
    </li>
</ul>
</div>
</footer>
