*{
    box-sizing: border-box;
}

body{
    background-color: #1B8B8F;
    font-family: 'Open Sans', sans-serif;
}

header{
    text-align: center;
}

nav{
    background-color: #603B32;
    font-size: 1.6em;
    color: white;
}

nav > a{
    text-decoration: none;
    color: white;
    /* pour pouvoir définir une taille à l'élément */
    display: inline-block;
    width: 9em;
    height: 3em;
    /* permet de regler la hauteur des lignes */
    line-height: 3em;
}

nav > a:hover{
    background-color: #a79189;
    transition: 0.6s;
}

.container{
    /* min-width */
    width: 75%;
    margin: auto;
}

h1, h2, h3{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.4em;
    background-color: #603B32;
    color: white;
    text-align: center;
    /* 0.5 = haut et bas
       0 = droite et gauche
       evite le padding-top et le padding-bottom */
    padding: 0.5em 0;
}

h1, h2, h3, main.container > section > img:nth-child(1){
    border-radius: 10px;
}

main.container > section > img:nth-child(1){
    /* Permet de réduire l'image en même temps que l'on réduit la fenêtre */
    width: 75%;
}

main.container > section{
    color: white;
    /* le inline block contrairement au block permet de déplacer l'element car le bloc seul ne veut
    personne de chaque côté de lui */
    display: inline-block;
    /* largeur de l'élément */
    width: 70%;
    background-color: #448088;
    padding: 1em;
    line-height: 2em;
}


main.container > aside{
    width: 30%;
    background-color: white;
    float: right;
    padding: 1em;
    text-align: justify;
    line-height: 2em;
}
main.container > section > p{
    /* Permet de mettre un espace en bas de chaques paragraphe */
    margin-bottom: 2em;
}

/* A partir de 560 px l'aside et la section prendront 100% de l'écran*/
@media screen and (min-width: 560px) and (max-width: 960px){
    /* TABLETTE */
    main.container > aside{
        width: 100%;
    }
    main.container > section{
        width: 100%;
    }
    nav > a{
        width: auto;
    }
}

/* Pour les pixels inférieurs a 560px l'exercice ne veut pas de "aside,veut l'image a 100% ainsi que la
section et la nav. Les accolades jaunes englobe tout le média querie */
@media screen and (max-width: 560px){
    /* TELEPHONE */
    main.container > aside{
        display: none;
    }
    main.container > section{
        width: 100%;
    }
    nav > a{
        width: 100%;
    }

    .container, main.container > section > img:nth-child(1){
        width: 100%;
    }
}