*{
    box-sizing: border-box;
    background-color: rgb(0, 255, 191);
}


.container-fluid{
    background-color: rgb(0, 255, 191);
    opacity: 0.7;
}
header{
    text-align: center;
}

.nav-item{
    text-decoration: underline;
}


img{
    border: solid black;
    box-shadow: 10px 2px 7px 1px;
    max-width: 50%;
}

