<header>
            
    <h1 class="text-center"> MY YUKA<img src="asset/img/logo.png"></h1>
    <P class="text-center">Obtenez des informations sur les produits</P>
</header>

<form>
    <div class="row">
        <div class="col-lg-4 mx-auto text-center">
            <div class="mb-3">
                <input type="text" class="form-control " id="champ" aria-describedby="emailHelp">
                <button type="submit" class="btn btn-success" id="bouton">Scanner</button>
            </div>
        </div>
    </div>
</form>

<header>
    <div class="m-3">
    <p class="text-center" id="nameProduct"> Nom du produit : </p>
    <P class="text-center" id="code">Code barre du produit :</P>
    <P class="text-center" id="info">Informations sur la marque :</P>
</div>
</header>