body{
    background-color: red;
}
.bg-blue{
    background-color: blue;
    height: 50px;
    width: 100;
    text-align: center;

}
.bg-white{
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.bg-blue{
    background-color: blue;
    height: 50px;
    width: 100;
    text-align: center;
}
